<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Employee Leave System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>

<body style="width:90%;margin:0 auto">
    <div style="display:flex;justify-content:space-between;">
        <div>
            <h3>
                Employee Management Dashboard: Welcome <%= userData.employeeName %>
            </h3>
        </div>
        <div style="align-items: flex-end;">
            <button class="btn btn-primary" onclick="location.href='/<%= userID %>/employeeCreate'">Create New Employee</button>
        </div>
    </div>
    <br>
    <div>
        <table id="" class="display" style="width:100%">
            <thead>
                <tr>
                    <th colspan="9">List of employees</th>
                </tr>
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Employee's Name</th>
                    <th scope="col">Employee's Designation</th>
                    <th scope="col">Employee's Gender</th>
                    <th scope="col">Employee's Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if ( data.length === 0 ) { %>
                <tr>
                    <th colspan="9">No record found!</th>
                </tr>
                <% } else { %>
                <% for ( let i = 0; i < data.length; i++ ){ %>
                <tr>
                    <th scope="row"> <%= i + 1 %> </th>
                    <td> <%= data[i].employeeName %> </td>
                    <td> <%= data[i].employeeRankCategory %></td>
                    <td> <%= data[i].employeeGender %> </td>
                    <td> <%= data[i].employeeStatus %> </td>
                    <td>
                        <button onclick="location.href='/<%= userID %>/<%= data[i]._id %>/details'"><i class=" small
                            material-icons" title="details">view_list</i></button>
                        <button onclick="location.href='/<%= userID %>/<%= data[i]._id %>/edit'"><i
                                class="small material-icons" title="edit">edit</i></button>
                        <form action="/<%= userID %>/<%= data[i]._id %>/employeeDelete?_method=DELETE" method="POST"
                            style="display:inline-block;"><button><i class="small material-icons"
                                    title="delete">delete</i></button></form>
                    </td>
                </tr>
                <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <button class="btn btn-primary" onclick="location.href='/<%= userID %>'">Go Back to Leave System</button>
    </div>
    <script>
        $(document).ready(function () {
            $('table.display').DataTable();
        });
    </script>
</body>

</html>